<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documents Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h3>Documents Proof</h3>
    <br>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">User Name</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <input type="text" class="form-control" value="{{user.username}}" name="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Tenth DMC</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <input type="file" step="0.01"  class="form-control" value="{{docs.tenth_dmc}}" name="tenth_dmc" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Twelve DMC</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <input type="file" step="0.01"  class="form-control" value="{{docs.twelvth_dmc}}" name="twelvth_dmc" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">First Sem DMC</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <input type="file" step="0.01"  class="form-control" value="{{docs.first_sem_dmc}}" name="first_sem_dmc">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Second Sem DMC</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <input type="file" step="0.01"  class="form-control" value="{{docs.second_sem_dmc}}" name="first_sem_dmc">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Third Sem DMC</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <input type="file" step="0.01"  class="form-control" value="{{docs.third_sem_dmc}}" name="third_sem_dmc">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Fourth Sem DMC</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <input type="file" step="0.01"  class="form-control" value="{{docs.fourth_sem_dmc}}" name="fourth_sem_dmc">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Fifth Sem DMC</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <input type="file" step="0.01"  class="form-control" value="{{docs.fifth_sem_dmc}}" name="fifth_sem_dmc">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Sixth Sem DMC</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <input type="file" step="0.01"  class="form-control" value="{{docs.second_sem_dmc}}" name="first_sem_dmc">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Seventh Sem DMC</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <input type="file" step="0.01"  class="form-control" value="{{docs.second_sem_dmc}}" name="first_sem_dmc">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                <input class="btn btn-primary" type="submit" value="SUBMIT">
            </div>
        </div>

    </form>

</div>
</body>
</html>